:root {
  --primary: #003459;
  --primary--400: #335d7a;
  --primary-dark: #002a48;
  --primary-medium: #00528c;
  --primary-light: #0078cd;
  --secondary: #f7dba7;
  --secondary-dark: #eec77e;
  --secondary-medium: #f1d092;
  --secondary-light: #fceed5;
  --neutral-00: #fdfdfd;
  --neutral-10: #ebeeef;
  --neutral-20: #ccd1d2;
  --neutral-40: #99a2a5;
  --neutral-60: #667479;
  --neutral-80: #242b33;
  --blue: #00a7e7;
  --orange: #ff912c;
  --green: #34c759;
  --pink-red: #ff564f;
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
li,
a {
  background-color: var(--secondary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

header.container nav ul > li:hover {
  font-weight: 500;
  color: #003459;
}
header.container main figure > img {
  width: 44vw;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1280px;
  padding: 4px;
  padding: 0 8px 0 8px;
}
.mx-auto {
  margin: auto;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-pink-red {
  background-color: var(--pink-red);
}
.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}
.text-primary-400 {
  color: var(--primary--400);
}
.text-neutral-00 {
  color: var(--neutral-00);
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.rounded-full {
  border-radius: 100px;
}

/* .text-lg {
  font-size: 18px;
}
.text-2xl {
  font-size: 24px;
}
.text-3xl {
  font-size: 30px;
  line-height: 36px;
}
.text-5xl {
  font-size: 48px;
  line-height: 1;
}

.line-height {
  line-height: 62px;
} */

.capitalize {
  text-transform: capitalize;
}

.font-medium {
  font-weight: 500;
}

.btn {
  font-size: 1rem;
  border-style: none;
}
.btn.btn-sm {
  padding: 8px 16px 8px 16px;
}
.btn.btn-md {
  padding: 14px 32px 14px 32px;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-8 {
  gap: 2rem;
}
