/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  header.container #toggle-menu {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */

/* CSS */

/* } */

/* min-width 660px max-width 1024px, medium screens include tablet and laptop  */
/* @media only screen, (min-width: 41.25em) and (max-width: 64em) {
  header.container #toggle-menu {
    display: none;
  }

  .text-5xl {
    font-size: 30px;
    line-height: 36px;
  }
} */
