/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = start screen 0px - 480px this code will execute
*/
@media (max-width: 480px) {
  header.container nav.open ul {
    display: flex;
    position: absolute;
    top: 3.625rem;
    right: 0;
    gap: 1rem;
    padding: 14px;
    left: 0;
    flex-direction: column;
    background-color: var(--secondary-light);
  }
  header.container nav > ul {
    display: none;
  }
  header.container div > button {
    display: none;
  }
  header.container #toggle-menu {
    padding: 8px;
  }

  main section.container {
    display: flex;
    flex-direction: column;
  }
  main section > div {
    order: 2;
  }
  section figure > img {
    order: 1;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  header.container nav.open ul {
    display: flex;
    position: absolute;
    top: 3.625rem;
    right: 0;
    gap: 1rem;
    padding: 14px;
    left: 0;
    flex-direction: column;
    background-color: var(--secondary-light);
  }
  header.container nav > ul {
    display: none;
  }

  /* header.container ul.gap-8 {
    gap: 1.5rem;
  } */

  header.container #toggle-menu {
    padding: 8px;
  }
}
