/*
  Less 348px for form input
*/
@media screen and (max-width: 348px) {
  form {
    background-color: transparent;
  }
  input[type="email"] {
    width: 100%;
    margin-bottom: 12px;
  }
  input[type="submit"] {
    width: 100%;
  }
}

/*  
  ##Device= Mobile   
*/
@media screen and (max-width: 480px) {
  /* navbar */
  #nav_menu a > img {
    max-height: 38px;
  }
  #nav_action li > i {
    display: none;
  }
  div#nav_action li > div.text-primary {
    display: none;
  }

  aside#sidebar_menu {
    background-color: var(--secondary-light) !important;
    width: 70% !important;
    right: -70% !important;
    border-radius: 18px 0 0 18px;
  }
  aside#sidebar_menu.active {
    right: 0 !important;
  }

  /* top-hero section */
  section#top-hero > article > header p:first-child {
    display: none;
  }
  section#top-hero > article > header > h1 > span {
    color: var(--pink-red);
  }
  section#top-hero > article > header > h1.text-large,
  section#service > header > h2.text-large,
  section#about-us header > h2.text-large,
  section#our-service > header > h2.text-large,
  section#faq header > h2.text-large,
  section#blog header > h2.text-large,
  section#bottom-hero header > h2.text-large {
    max-width: 95% !important;
    font-size: 24px !important;
    line-height: 1.5 !important;
  }
  section#top-hero > article > header > p {
    max-width: 95% !important;
  }
  section#top-hero > article {
    order: 2;
  }

  /* Margin should only be applied to the top of the 'img' in the 'top-hero' and 'about-us' sections */
  section#top-hero > figure,
  section#about-us figure {
    margin: 0 24px !important;
  }
  section#top-hero > figure {
    order: 1;
  }

  /* service */
  section#service > div.flex {
    display: flex;
    flex-direction: column;
  }
  section#service > div > .card1,
  .card2 {
    padding: 35px 30px;
    border-radius: 16px;
  }

  /* sponsorship */
  section#sponsorship > ul.flex {
    gap: 20px;
  }

  /* about-us */
  section.container-fluid-img > div.container > div.flex > ul {
    flex-direction: column;
    gap: 8px;
  }
  section.container-fluid-img > div.container > div.flex > ul > li {
    margin-bottom: 0.75rem;
    gap: 0.5rem;
  }

  /* faq */
  section#faq > div > ul > li > div.faq-header > h3.text-18px {
    max-width: 92%;
  }

  .gap-12 {
    gap: 1.25rem;
  }

  .card {
    flex: 1 0 31%;
  }

  .structure-1,
  .structure-2,
  .e {
    flex: 1 100%;
    min-height: auto;
  }
  .structure-1 > .flex {
    flex: 1 100%;
    padding: 8px 0;
    min-height: 225px;
  }
  .structure-2 > .flex {
    flex: 1 100%;
    padding: 8px 0;
    min-height: 225px;
  }
  section.container-fluid div.flex > ul li {
    flex: 100%;
    margin-bottom: 12px;
  }

  /* latest article */
  section.container .carousel {
    grid-auto-columns: 100% !important;
  }
  section.container div.flex i.fa-arrow-left,
  i.fa-arrow-right {
    font-size: 1em;
    padding: 10px 11px;
    border-radius: 100px;
  }

  /* footer */
  footer > div.container {
    display: flex;
    flex-direction: row;
  }
  footer div.footer-col:nth-child(1) {
    width: 70%;
    margin-bottom: 10px;
  }
  footer div.footer-col:nth-child(2) {
    width: 50%;
    margin-bottom: 10px;
  }
  footer div.footer-col:nth-child(3) {
    display: none;
  }
  footer div.footer-col:last-child {
    width: 100%;
  }
}

/*
  ##Device = Tablets, Mobiles (Portrait/Landscape)
*/
@media screen and (max-width: 768px) {
  .layer_overlay {
    background-color: rgba(36, 43, 51, 0.6);
    backdrop-filter: blur(2px);
    display: block;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
  }

  /* navbar */
  #toggle-menu {
    display: block;
  }
  header.container-fluid {
    padding: 2px 0;
  }

  div#nav_menu > ul {
    display: none;
  }
  div#nav_action li > button {
    display: none;
  }
  div#nav_action #toggle-menu {
    padding: 18px 8px 16px;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--neutral-00);
    position: relative;
    z-index: 9001;
  }

  aside#sidebar_menu {
    position: fixed;
    top: 0;
    right: -50%;
    display: block;
    background-color: var(--secondary-light);
    padding: 72px 26px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    transition: right;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    box-shadow: -2px 0 10px -2px rgba(36, 43, 51, 0.1);
    z-index: 9000;
  }
  aside#sidebar_menu.active {
    right: 0;
  }
  aside#sidebar_menu .sidebar_header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    margin: 14px 12px;
  }
  aside#sidebar_menu #toggle-menu {
    background-color: var(--primary);
    padding: 18px 9px 16px;
    border-radius: 4px;
    color: var(--neutral-00);
  }
  aside#sidebar_menu figure img {
    height: 38px;
  }

  aside#sidebar_menu > .sidebar_body {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  aside#sidebar_menu > .sidebar_body ul li {
    padding: 10px 0;
  }
  aside#sidebar_menu > .sidebar_body ul > li > ul {
    color: var(--primary);
    padding: 0 24px;
  }

  aside#sidebar_menu > .sidebar_body ul > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* start dropdown */
  aside#sidebar_menu > .sidebar_body > ul > li > .dropdown {
    cursor: auto;
  }
  aside#sidebar_menu
    > .sidebar_body
    > ul
    > li
    > .dropdown
    > .dropdown-header
    > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  aside#sidebar_menu > .sidebar_body > ul > li > .dropdown .dropdown-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    padding: 0 28px;
  }
  .dropdown-body > .dropdown-active {
    max-height: initial;
  }

  aside#sidebar_menu > .sidebar_body ul > li.active {
    /* when link are visit*/
    font-weight: 600;
  }
  aside#sidebar_menu > .sidebar_footer {
    width: 100%;
    margin-top: auto;
  }
  aside#sidebar_menu > .sidebar_footer ul > li {
    margin-top: 16px;
  }
  aside#sidebar_menu > .sidebar_footer li > button {
    width: 100%;
  }

  /* main {
    position: relative;
    z-index: -9999;
  } */

  /* flex column section elements*/
  section.container,
  div.container {
    display: flex;
    flex-direction: column;
  }

  /* top-hero */
  section#top-hero > article > header {
    max-width: 100%;
  }
  section#top-hero > article > header > h1.text-large {
    max-width: 75%;
    font-size: 2.5rem;
    line-height: 1.4;
  }
  section#top-hero > article > header > p {
    max-width: 85%;
  }
  section#top-hero > figure {
    margin: 0 24px !important;
  }

  /* service */
  section#service,
  section.container > .gap-8 {
    gap: 1.5rem;
  }
  section#service > div > .card1 {
    margin-top: 0;
  }
  section#service > div > .card2 {
    margin-bottom: 0;
  }

  /* sponsorship */
  section#sponsorship > ul.flex {
    gap: 40px;
  }

  section.container figure > figcaption.text-medium {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  section.container .carousel {
    grid-auto-columns: calc((100% / 2) - 12px);
  }

  .gap-12 {
    gap: 10;
  }
  .btn.btn-md {
    padding: 12px 20px 12px 20px;
  }

  .structure-1,
  .structure-2,
  .e {
    flex: 1 100%;
    /* min-height: 480px; */
  }
  .a {
    padding: 8px 8px 8px 0;
  }
  .b {
    padding: 8px 0 8px 8px;
  }
  .c {
    padding: 0 0 8px 0;
  }
  .e {
    padding: 8px 0 8px 0;
  }

  /* faq */
  section#faq > div > header > h2 {
    margin-bottom: 0px;
  }
  section#faq > div > header > p {
    display: block;
    margin-bottom: 16px;
  }

  section#faq > div > ul > li.faq-item {
    margin-bottom: 16px;
  }
  section#faq > div > ul > li > div.faq-header > h3.text-18px {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  section#faq > figure {
    display: none;
  }

  /* bottom-hero */
  section#bottom-hero header > h2 {
    max-width: 95%;
  }
  section#bottom-hero header > p {
    max-width: 100%;
    margin: auto;
  }

  /* footer */
  footer > div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*
  ##Device = Laptop & Desktop
*/
@media (min-width: 769px) and (max-width: 1024px) {
  /* navbar */
  #nav_menu a > img {
    margin-right: 20px;
  }
  div#nav_menu ul > li {
    padding: 0px 9px;
  }
  div#nav_action li > div.text-primary {
    display: inline-block;
    margin: 0 15px;
  }

  /* top-hero */
  section#top-hero > article > header {
    max-width: 85%;
  }
  section#top-hero > article > header > h1.text-large {
    line-height: 1.3;
  }
  section#top-hero > figure {
    margin: 0 0 0 36px;
  }

  /* service */
  section#service,
  section.container > .gap-8 {
    gap: 1.5rem;
  }

  /* sponsorship */
  section#sponsorship > ul.flex {
    gap: 40px;
  }
}
